.bottomCurveContainer {
  background: #2a8c79;
}

.bottomCurveContainer__bottomCurve {
  background: #add4c5;
  border-radius: 50%;
  height: 15vh;
}

.bottomCurveContainer__bottomCurve__topHalf {
  height: 50%;
  background: #add4c5;
}

.bottomCurveContainer__bottomCurve__bottomHalf {
  height: 50%;
}
