.memoryGameTitle {
  text-align: center;
  font-family: "Salsa", cursive;
  color: white;
  font-size: max(1.7rem, 5vw);
}

.memoryGameDescription {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: clamp(17px, 1.7rem, 6vw);
}
