.homePageHeaderContainer__title {
  text-align: center;
  display: inline-block;
  font-family: "salsa";
  font-size: clamp(0.5rem, 20px, 4vw);
  display: none;
}

.homePageHeaderContainer__img {
  display: none;
}

.homePageHeaderContainer__paragraph {
  font-size: 15px;
  font-family: "Raleway";
  display: none;
}

.homePageHeaderContainer {
  padding-top: 150px;
  font-size: 2vw;
  background: #b4d0c4;
}

.homePageHeaderContainer__row {
  border: none;
  background: #f8ac4c;
  margin: auto;
  width: 100%;
  font-family: "Salsa", cursive;
  font-weight: 550;
  transition: all 0.5s;
  padding: 5px;
  font-size: clamp(0.5rem, 15px, 4vw);
  cursor: pointer;
  min-height: 130%;
  outline: none;
  color: black;
}

.homePageHeaderContainer__button {
  border-radius: 20px;
  border: none;
  background: #f8ac4c;
  margin: auto;
  width: 100%;
  font-family: "Salsa", cursive;
  font-weight: 550;
  transition: all 0.5s;
  padding: 5px;
  font-size: clamp(0.5rem, 15px, 4vw);
  cursor: pointer;
  min-height: 130%;
  display: none;
}

.homePageHeaderContainer__button:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

/* Media query rules to override previous rules, as necessary */
/* when the breakpoint happend we will see the one image only without the title and paragraph */
@media screen and (min-width: 1000px) {
  .homePageHeaderContainer__img {
    display: block;
  }
  .homePageHeaderContainer__title {
    display: block;
  }
  .homePageHeaderContainer__paragraph {
    display: block;
  }
  .homePageHeaderContainer__button {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .homePageHeaderContainer__rightImg {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .homePageHeaderContainer__rightImg {
    width: 550px;
  }
}

@media screen and (max-width: 400px) {
  .homePageHeaderContainer__rightImg {
    width: 330px;
  }
}
