.quizWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b4d0c4;
  font-size: 20px;
}

.quizWrapper__score {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.quizWrapper__header {
  font-family: "Fascinate" Inline;
  background-image: linear-gradient(180deg, #fff, #87f1ff);
  font-weight: 400;
  background-size: 100%;
  background-clip: text;
  filter: drop-shadow(2px 2px #0085a3);
  font-size: 70px;
  text-align: center;
  margin: 20px;
}

.quizWrapper__startGame,
.quizWrapper__nextButton {
  cursor: pointer;
  background-color: #f8ac4c;
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
  outline: none;
  background: #b4d0c4;
}

.quizWrapper__startGame {
  max-width: 200px;
  background-color: #f8ac4c;
}

.quizWrapper__nextButton {
  background-color: #f8ac4c;
}
