.contactUsFormContainer {
  background: #b4d0c4;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-bottom: 50px;
}

.contactUsForm__label {
  font-family: "Raleway";
  font-size: clamp(1rem, 2vw, 2.5rem);
  color: white;
  text-align: left;
  margin-bottom: 0.5rem;
}

.contactUsForm__input,
.contactUsForm__textarea {
  font-family: "Raleway";
  font-size: clamp(1rem, 2vw, 2.5rem);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.contactUsForm__textarea {
  height: clamp(8rem, 9rem, 10rem);
}

.contactUsForm__submit {
  margin-top: 0.5rem;
  width: 100%;
}

.contactUsForm__submitButton {
  border-radius: 10px;
  border: none;
  background: #f8ac4c;
  margin: auto;
  font-family: "Salsa", cursive;
  transition: all 0.5s;
  padding: 5px;
  font-size: clamp(0.75rem, 1.25rem, 1.5rem);
  cursor: pointer;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactUsForm__submitButton span {
  margin: 0 5px;
}

.contactUsForm__postSubmissionMessage {
  margin-top: 10vh;
  font-family: "Raleway";
  font-size: clamp(1rem, 20px, 2.5rem);
  box-sizing: border-box;
  border-radius: 10px;
}
