.contactUsFormContainer {
  background: #add4c5;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.contactUsForm__label {
  font-family: "Raleway";
  font-size: clamp(1rem, 24px, 3rem);
  color: white;
  text-align: left;
  margin-bottom: 0.6rem;
}

.contactUsForm__input,
.contactUsForm__textarea {
  font-family: "Raleway";
  font-size: clamp(1rem, 20px, 2.5rem);
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  width: clamp(25rem, 17rem, 35rem);
  margin-bottom: 0.5rem;
}

.contactUsForm__textarea {
  height: clamp(10rem, 7rem, 15rem);
}

.contactUsForm__submit {
  margin-top: 0.5rem;
}

.contactUsForm__submitButton {
  border-radius: 10px;
  border: none;
  background: #f8ac4c;
  margin: auto;
  font-family: "Salsa", cursive;
  transition: all 0.5s;
  padding: 5px;
  font-size: clamp(0.75rem, 1.25rem, 1.5rem);
  cursor: pointer;
  color: white;
  width: clamp(6rem, 7rem, 8rem);
}

/* Form post submission message styling */
.contactUsForm__postSubmissionMessage {
  color: white;
  font-family: "Raleway";
  font-size: clamp(1.5rem, 30px, 3rem);
  text-align: center;
  box-sizing: border-box;
  background-color: #2a8c79;
  border-radius: 10px;
}
