.contactUsBottomContainer {
  background: #2a8c79;
  padding-bottom: 15rem;
}

.contactUsBottomContainer__bottomCurve {
  background: #add4c5;
  border-radius: 50%;
  height: 15vh;
}

.contactUsBottomContainer__bottomCurve__topHalf {
  height: 50%;
  background: #add4c5;
}

.contactUsBottomContainer__bottomCurve__topHalfImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -25%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.contactUsBottomContainer__bottomCurve__bottomHalf {
  height: 50%;
}

.contactUsBottomContainer__bottomCurve__topHalfImages--mainImg {
  width: 52%;
}

.contactUsBottomContainer__bottomCurve__topHalfImages--subImgOne {
  width: 23%;
}

.contactUsBottomContainer__bottomCurve__topHalfImages--subImgTwo {
  width: 9%;
}

/* Media query rules to override previous rules, as necessary */
/* At the breakpoint only  mainImg and subImgOne are shown */
@media screen and (max-width: 1000px) {
  .contactUsBottomContainer__bottomCurve__topHalfImages {
    top: 0%;
    justify-content: space-around;
  }

  .contactUsBottomContainer__bottomCurve__topHalfImages--mainImg {
    width: 45%;
  }

  .contactUsBottomContainer__bottomCurve__topHalfImages--subImgOne {
    width: 20%;
  }

  .contactUsBottomContainer__bottomCurve__topHalfImages--subImgTwo {
    display: none;
  }

  .contactUsBottomContainer {
    background: #2a8c79;
    padding-bottom: 10rem;
  }
}

/* At the breakpoint only main image is shown */
@media screen and (max-width: 480px) {
  .contactUsBottomContainer__bottomCurve__topHalfImages {
    top: 0%;
  }

  .contactUsBottomContainer__bottomCurve__topHalfImages--mainImg {
    width: 80%;
  }

  .contactUsBottomContainer__bottomCurve__topHalfImages--subImgOne {
    display: none;
  }
}
