.memoryGameFactListContainer__list__item__card {
  margin: auto;

  text-align: center;
  font-family: sans-serif;
  border-radius: 5px;
  color: #0000ee;
  transition: all 0.5s;
  cursor: pointer;
  font-size: clamp(1.1rem, 1vw, 300%);
}

.memoryGameFactListContainer__list__item__card:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

.memoryGameFactListContainer__noFacts {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: clamp(1rem, 2vw, 300%);
}

.memoryGameFactListContainer__title {
  margin-top: 5%;
}

.memoryGameFactListContainer__list__item a {
  width: 90%;
  margin-left: 5%;
}
