@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

.navbar {
  background: #3b8c79;
  height: 15vh;
}

.navbar__topHalf {
  margin: 0;
  padding: 0;
  background-color: #3b8c79;
  font-family: "Salsa", cursive;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 50%;
}

.navbar__title {
  color: white;
  font-size: 2em;
}

.navbar__topHalf ul li a {
  color: white;
}

.navbar__topHalf ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.3em;
}

.navbar__topHalf ul li:hover,
.navbar__title:hover {
  cursor: pointer;
}

.navbar__helperDiv {
  height: 50%;
}

.navbar__bottomHalf {
  position: relative;
  background: #b4d0c4;
  border-radius: 50% 50% 0 0;
  height: 50%;
}

.navbar__logo {
  z-index: 1;
  position: absolute;
  display: inline-block;
  padding: 0px;
  left: 43%;
  top: 5vh;
  height: 7vh;
  width: auto;
}

.navbar__logo:hover {
  cursor: pointer;
}

.navbar__dropdown {
  position: absolute;
  left: 5vw;
  margin: 0;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

/* antdesign class */
.ant-dropdown {
  font-family: "Salsa";
}

/* antdesign class */
.anticon-menu .svg:hover {
  cursor: pointer;
}

/* antdesign class */
.anticon-menu .svg:focus {
  box-shadow: #b4d0c4;
}

.navbar__dropdown-btn {
  border: 0px;
  width: 1.2vh;
  height: 1.2vh;
  background: transparent;
}

.navbar__leftSide {
  display: flex;
  justify-content: space-between;
}

.navbar__rightSide {
  display: flex;
  justify-content: stretch;
}

.navbar__languageContainer-btn {
  background-color: #3b8c79;
  border-width: 1px;
  border-color: #b4d0c4;
  color: white;
  width: 18%;
  height: auto;
}

.navbar__languageContainer-btn:hover {
  cursor: pointer;
  background-color: #b4d0c4;
}

.navbar__languageContainer {
  display: flex;
  justify-content: flex-start;
}

.navbar__languageSubContainer {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

@media (max-width: 1024px) {
  .navbar__rightSide li a {
    display: none;
  }
  .navbar__leftSide li a {
    display: none;
  }

  .navbar__languageSubContainer {
    width: 150px;
  }
}

@media (min-width: 1025px) {
  .navbar__dropdown {
    display: none;
  }
}
