@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

.navbar {
  background: #3b8c79;
  height: 15vh;
}

.navbarTopHalf {
  margin: 0;
  padding: 0;
  background-color: #3b8c79;
  font-family: "Salsa", cursive;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 50%;
}

.navbarTitle {
  color: white;
  font-size:2em;
}

.navbarTopHalf ul li a {
  color: white;
}

.navbarTopHalf ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1em;
}

.navbarTopHalf ul li:hover,
.navbarTitle:hover {
  cursor: pointer;
}

.navbarHelperDiv{
  height: 50%;
}

.navbarBottomHalf{
  position: relative;
  background: #b4d0c4;
  border-radius: 50% 50% 0 0;
  height: 50%;
}

.navbarLogo {
  z-index: 1;
  position: absolute;
  display: inline-block;
  padding: 0px;
  left: 43%;
  top: 5vh;
  height: 7vh;
  width: auto;
}

.navbarLogo:hover {
  cursor: pointer;
}

.navbarDropdown {
  position: absolute;
  left: 5vw;
  margin: 0;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

/*antdesign class*/
.ant-dropdown {
  font-family: "Salsa";
}

/*antdesign class*/
.anticon-menu .svg:hover {
  cursor: pointer;
}

/*antdesign class*/
.anticon-menu .svg:focus {
  box-shadow: #b4d0c4;
}

.navbarDropdownBtn {
  border: 0px;
  width: 1.2vh;
  height: 1.2vh;
  background: transparent;
}

.navbarLeftSide {
  display: flex;
  justify-content: space-between;
}

.navbarRightSide {
  display: flex;
  justify-content: stretch;
}

.languageBtn {
  background-color: #3b8c79;
  border-width: 1px;
  border-color: #b4d0c4;
  color: white;
  width:18%;
  height: auto;
}

.languageBtn:hover{
  cursor: pointer;
  background-color:#b4d0c4;
}

.languageBtnsContainer{
  display: flex;
  justify-content:flex-start;
}

.languageBtnsSubContainer{
  display: flex;
  justify-content:space-around;
  width:15%;
}

@media (max-width: 1024px) {
  .navbarRightSide li a{
    display: none;
  }
  .navbarLeftSide li a{
    display: none;
  }

  .languageBtnsSubContainer{
    width: 150px;
  }
}

@media (min-width: 1025px) {
  .navbarDropdown {
    display: none ;
  }

  
  
}