/* .social-container {
   background: #eee;
    padding: 25px 50px;
  } */
@import url("https://fonts.googleapis.com/css2?family=Moul&family=Roboto&display=swap");

footer {
  height: 495px;
  padding-top: 390px;
  background-color: #2a8c79;
  color: white;
  background-image: url(/assets/images/footerBg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 14px;
  position: relative;
  font-family: Roboto;
}
footer a {
  color: white;
}

.footerNav {
  text-align: center;
}
.footerLinksContainer {
  margin-bottom: 20px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: white;
}

a.facebook {
  color: white;
}
img.footerGlobe {
  position: absolute;
  top: 46px;
  left: 51px;
  transition: all 1s;
  width: 260px;
}

a.instagram {
  color: white;
}

@media (max-width: 900px) {
  img.footerGlobe {
    width: 200px;
    top: 94px;
  }
}

@media (max-width: 350px) {
  img.footerGlobe {
    width: 150px;
    top: 94px;
  }
}
