.puzzlePage__content {
  background-color: #b4d0c4;
  height: 100vh; /* use of vh is temporary until the game content is ready */
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzlePage__content-puzzleBox {
  background-color: #3b8c79;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
