.memoryGameCardsContainer___card {
  cursor: pointer;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  transition: all, 0.5s;
}

.memoryGameCardsContainer___card___image {
  width: 100%;
  height: 100%;
}

.memoryGameCardsContainer___card___figcaption {
  text-align: center;
  font-family: "Salsa", cursive;
  font-size: clamp(0.9rem, 1vw, 3vw);
}

.memoryGameCardsContainer___flippedCard {
  cursor: not-allowed;
}
