.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4d0c4;
  padding: 20px 0;
}

.loginContainer__loginTitle {
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
}

.loginContainer__loginDialog {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer__loginDialog__inputLabel {
  color: white;
  margin-bottom: 5px;
  width: 80%;
}

.loginContainer__loginDialog__input {
  margin-bottom: 15px;
  width: 80%;
}

.loginContainer__loginDialog__registerLabel {
  margin: 20px 0;
  font-size: 28px;
  text-align: center;
  color: white;
}

.loginContainer__loginDialog__submitButton {
  width: 80%;
  margin-top: 15px;
  color: white;
  border: 0;
  background-color: #f8ac4c;
  padding: 5px;
}

button.loginContainer__loginDialog__registerButton {
  width: 80%;
  border: 0;
  padding: 5px;
  background-color: #2a8c79;
  color: white;
}
