.memoryGameCardContainer___successCard,
.memoryGameCardsContainer___card {
  /* display: inline-flex;
    flex-direction: column;
    justify-content: center; */
  cursor: pointer;
  height: clamp(20vh, 280px, 35vh);
  width: 100%;
  border-radius: 20px;
  transition: all, 0.5s;
}

.memoryGameCardContainer___successCard {
  cursor: not-allowed;
}

.memoryGameCardContainer___successCard___symbol,
.memoryGameCardsContainer___card___image,
.memoryGameCardsContainer___card___questionMark {
  width: 100%;
  height: 100%;
}

.memoryGameCardsContainer___card___image___figcaption {
  text-align: center;
  font-family: "Salsa", cursive;
  font-size: clamp(1.4rem, 1vw, 300%);
}

.howToPlayMemoryGameContainer__icon {
  font-size: 2rem;
  float: right;
  margin: auto;
}

.scrollToFactsContainer__button {
  border-radius: 5px;
  font-size: clamp(0.7rem, 1rem, 4vw);
}

.scrollToFactsContainer {
  height: 50px;
}
.ant-popover-content {
  width: 200px;
}
