.successCard___symbol {
    width: 100%;
}

.successCard {
    height: 200px;
}

.memoryGameCard {
    cursor: pointer;
    height: inherit;
    height: 200px;
}

.memoryGameCard___image {
    width: 100%;
}

.memoryGameCard___questionMark {
    width: 100%;
}
