@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.site-card-wrapper {
  background-color: #b4d0c4;
  padding: 20px 0;
}
.cardImage img {
  width: 100%;
}
.cardName a {
  color: black;
}
.cardName {
  margin-bottom: 10px;
  font-family: Salsa;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
